Repository statisticsnorway/ssb-timeseries: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-json, check-toml, check-ast, ruff, black

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

check-json:
  name: Check JSON
  entry: check-json
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-ast:
  name: Check Python syntax
  entry: check-ast
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --exit-non-zero-on-fix
  language: system
  require_serial: true

black:
  name: black
  entry: black
  language: system
  require_serial: true

Update Python version in tests.yaml.
  .github/workflows/tests.yml
Due: check-yaml

Raise real warnings for ts.logger.warnings.
  src/ssb_timeseries/logging.py
  tests/conftest.py
  tests/test_dataset_core.py
  tests/test_dataset_time.py
  tests/test_logging.py
  tests/test_meta_tag_maintenance.py
  tests/test_meta_tag_search_and_calculation.py
Due: check-ast, ruff, black

Cleanup test_logging.py
  docs/ssb_static/SSB_logo_white.svg
  poetry.lock
  pyproject.toml
  src/ssb_timeseries/__init__.py
  src/ssb_timeseries/config.py
  src/ssb_timeseries/logging.py
  tests/conftest.py
  tests/test_config.py
  tests/test_dataset_algebra.py
  tests/test_dataset_core.py
  tests/test_logging.py
Due: check-toml, check-ast, ruff, black

Bump version to 0.4.3
  pyproject.toml
  src/ssb_timeseries/__init__.py
  src/ssb_timeseries/config.py
  src/ssb_timeseries/dates.py
Due: check-toml, check-ast, ruff, black

Update documentation
  src/ssb_timeseries/logging.py
Due: check-ast, ruff, black

Add support for configuring multiple data repositories.
  pyproject.toml
  src/ssb_timeseries/__init__.py
  src/ssb_timeseries/catalog.py
  src/ssb_timeseries/config.py
  src/ssb_timeseries/dataset.py
  src/ssb_timeseries/io.py
  src/ssb_timeseries/logging.py
  tests/conftest.py
  tests/test_config.py
  tests/test_dataset_core.py
  tests/test_io.py
  tests/test_meta_catalog.py
  tests/test_meta_tag_maintenance.py
Due: check-toml, check-ast, ruff, black

Fix mypy errors
  src/ssb_timeseries/catalog.py
  src/ssb_timeseries/config.py
  src/ssb_timeseries/dataset.py
  src/ssb_timeseries/io.py
  tests/test_config.py
Due: check-ast, ruff, black

Rename test_meta_catalog.py -> test_catalog.py
  tests/test_catalog.py
Due: check-ast, ruff, black

Add tests for select_repository.
  src/ssb_timeseries/dataset.py
  src/ssb_timeseries/logging.py
  tests/test_config.py
  tests/test_dataset_core.py
Due: check-ast, ruff, black

Fix docstring example in catalog.py
  src/ssb_timeseries/catalog.py
Due: check-ast, ruff, black

Remove commented out code
  src/ssb_timeseries/config.py
  src/ssb_timeseries/dataset.py
Due: check-ast, ruff, black

reducnoise in config logging
  src/ssb_timeseries/config.py
Due: check-ast, ruff, black

Set log level for reading config from file to info
  src/ssb_timeseries/config.py
Due: check-ast, ruff, black

Bump version to 0.5.1
  poetry.lock
  pyproject.toml
Due: check-toml

Add test that detects that stored tags are not being read
  src/ssb_timeseries/dataset.py
  tests/test_dataset_core.py
Due: check-ast, ruff, black

Bugfix: Stop .tag_series() from erasing existing tags.
  src/ssb_timeseries/dataset.py
  src/ssb_timeseries/io.py
  src/ssb_timeseries/logging.py
  tests/test_meta_tag_search_and_calculation.py
Due: check-ast, ruff, black

Fix failing xdoctest + add test cases for series_names_to_tags()
  src/ssb_timeseries/dataset.py
  tests/test_meta_tag_maintenance.py
Due: check-ast, ruff, black

Bump version to 0.5.2
  pyproject.toml
Due: check-toml

Add versioning.date_columns().
  src/ssb_timeseries/io.py
  src/ssb_timeseries/properties.py
Due: check-ast, ruff, black

Add Narwhals based datetime functionality to validate and enforce schema. Add prepending of as_of. Get carried away narwwhalifying and removing Pandas dependencies.
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/ssb_timeseries/dataset.py
  src/ssb_timeseries/dates.py
  src/ssb_timeseries/fs.py
  src/ssb_timeseries/intervals.py
  src/ssb_timeseries/io.py
  src/ssb_timeseries/properties.py
  src/ssb_timeseries/sample_data.py
  tests/test_dataset_algebra.py
  tests/test_dataset_core.py
  tests/test_dates.py
  tests/test_fs.py
  tests/test_intervals.py
  tests/test_io.py
  tests/test_meta_tag_search_and_calculation.py
  tests/test_sample_data.py
Due: check-yaml, check-toml, check-ast, ruff, black

Change Ruff and Mypy config in pyproject.toml and .pre-commit-config.yaml.
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/ssb_timeseries/dataset.py
  src/ssb_timeseries/io.py
  src/ssb_timeseries/logging.py
  src/ssb_timeseries/meta.py
  tests/conftest.py
  tests/test_dataset_algebra.py
  tests/test_fs.py
  tests/test_logging.py
Due: check-yaml, check-toml, check-ast, ruff, black

Prepare testcases. Fix other tests. Clean up commented out code.
  src/ssb_timeseries/dataset.py
  src/ssb_timeseries/io.py
  tests/test_dataset_core.py
  tests/test_logging.py
Due: check-ast, ruff, black

Fix mypy issues and pre-commit config.
  .pre-commit-config.yaml
  pyproject.toml
  src/ssb_timeseries/catalog.py
  src/ssb_timeseries/dataset.py
  src/ssb_timeseries/intervals.py
  src/ssb_timeseries/types.py
  tests/test_dates.py
Due: check-yaml, check-toml, check-ast, ruff, black

Fix pre-commit config for pytest.
  .pre-commit-config.yaml
Due: check-yaml

Fix pre-commit config for pytest - take 2.
  .pre-commit-config.yaml
Due: check-yaml

Fix pre-commit config for pytest - take 2. Just prettier.
  .pre-commit-config.yaml
Due: check-yaml

Fix noxfile.py: run mypy with --config-file pyproject.toml
  noxfile.py
Due: check-ast, ruff, black

Attempt to fix inconsistency between 'nox -s mypy' and 'pre-commit run mypy --all-files'
  noxfile.py
  src/ssb_timeseries/intervals.py
  tests/conftest.py
Due: check-ast, ruff, black

Fix bug in test for CET as default timezone.
  src/ssb_timeseries/dates.py
  tests/test_dates.py
Due: check-ast, ruff, black

Fix bug in test for CET as default timezone.
  src/ssb_timeseries/dates.py
  src/ssb_timeseries/intervals.py
  tests/test_dates.py
Due: check-ast, ruff, black

Ignore bug in test for CET as default timezone for now (xfail).
  tests/test_dates.py
Due: check-ast, ruff, black

Ignore bug in test for CET as default timezone for now (skip).
  tests/test_dates.py
Due: check-ast, ruff, black

Constrain mypy vs to 1.10.1 in both .re-commit-config.yaml and pyproject.toml. Add vanilla-mypy session to noxfile.py.
  .pre-commit-config.yaml
  noxfile.py
  poetry.lock
  pyproject.toml
  src/ssb_timeseries/dataset.py
Due: check-yaml, check-toml, check-ast, ruff, black

Harmonize Mypy for pre-commit and nox. Workaround Mypy issues. Separate out df helpers in dataframes.py.
  .pre-commit-config.yaml
  noxfile.py
  pyproject.toml
  src/ssb_timeseries/dataframes.py
  src/ssb_timeseries/dataset.py
  src/ssb_timeseries/dates.py
  src/ssb_timeseries/fs.py
  src/ssb_timeseries/io.py
  src/ssb_timeseries/meta.py
  tests/test_dataset_algebra.py
Due: check-yaml, check-toml, check-ast, ruff, black

Change stages for mypy in .pre-commit-config.yaml.
  .pre-commit-config.yaml
Due: check-yaml

Set pass filenames = true for mypy in .pre-commit-config.yaml.
  .pre-commit-config.yaml
Due: check-yaml

Update stage in noxfile and pre-commit config.
  .pre-commit-config.yaml
  noxfile.py
Due: check-yaml, check-ast, ruff, black

Fix code in docstring datetime_to_tz_aware -> datetime_localize.
  src/ssb_timeseries/dates.py
Due: check-ast, ruff, black

Remove pre-commit from nox.
  noxfile.py
Due: check-ast, ruff, black

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-ast: any of: \.py$
  ruff: any of: \.py$, \.ipynb$
  black: any of: \.py$, \.ipynb$
