Repository statisticsnorway/ssb-timeseries: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-json, check-toml, check-ast, ruff, black

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

check-json:
  name: Check JSON
  entry: check-json
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-ast:
  name: Check Python syntax
  entry: check-ast
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --exit-non-zero-on-fix
  language: system
  require_serial: true

black:
  name: black
  entry: black
  language: system
  require_serial: true

ignore ruff a005 error
  pyproject.toml
Due: check-toml

Fix docstring issues.
  docs/conf.py
  src/ssb_timeseries/config.py
  src/ssb_timeseries/dataset.py
  src/ssb_timeseries/meta.py
Due: check-ast, ruff, black

bump version to 0.4.0
  pyproject.toml
Due: check-toml

remove commented out code
  src/ssb_timeseries/dataset.py
Due: check-ast, ruff, black

hotfix: reduce log level in config.py
  poetry.lock
  pyproject.toml
  src/ssb_timeseries/config.py
  src/ssb_timeseries/io.py
Due: check-toml, check-ast, ruff, black

bump version to 0.4.1
  pyproject.toml
Due: check-toml

Update Dapla-lab default config + rely on __init__.py for config and logger identification.
  src/ssb_timeseries/__init__.py
  src/ssb_timeseries/config.py
  src/ssb_timeseries/dataset.py
  src/ssb_timeseries/dates.py
  src/ssb_timeseries/io.py
  src/ssb_timeseries/logging.py
  src/ssb_timeseries/meta.py
  tests/test_config.py
  tests/test_dataset_core.py
  tests/test_dataset_plotting.py
  tests/test_dataset_sharing.py
  tests/test_dataset_time.py
  tests/test_dates.py
  tests/test_fs.py
  tests/test_meta_catalog.py
  tests/test_meta_tag_maintenance.py
  tests/test_meta_tag_search_and_calculation.py
  tests/test_meta_taxonomy.py
  tests/test_sample_data.py
Due: check-ast, ruff, black

Prepare reading logging configuration via dictConfig.
  src/ssb_timeseries/__init__.py
  src/ssb_timeseries/config.py
  src/ssb_timeseries/logging.py
  tests/test_logging.py
Due: check-ast, ruff, black

Update default configs. Add log testing intent.
  src/ssb_timeseries/config.py
  tests/test_config.py
  tests/test_logging.py
Due: check-ast, ruff, black

Use %s in debug logging of dataset.py.
  src/ssb_timeseries/dataset.py
  tests/test_logging.py
Due: check-ast, ruff, black

Use %s in logging io.py.
  src/ssb_timeseries/io.py
Due: check-ast, ruff, black

Use %s in logging of meta.py.
  src/ssb_timeseries/meta.py
Due: check-ast, ruff, black

Add test coverage for logging.
  src/ssb_timeseries/__init__.py
  tests/test_logging.py
Due: check-ast, ruff, black

Fix logging in tests.
  tests/conftest.py
  tests/test_config.py
  tests/test_dataset_algebra.py
  tests/test_logging.py
Due: check-ast, ruff, black

Fix logging in tests.
  tests/test_dataset_algebra.py
  tests/test_logging.py
Due: check-ast, ruff, black

xfail logged warning generates warning
  tests/test_logging.py
Due: check-ast, ruff, black

Fix naming of imported main __init__ --> as ts.
  tests/test_logging.py
Due: check-ast, ruff, black

Add .moving_average() with basic tests.
  src/ssb_timeseries/dataset.py
  tests/conftest.py
  tests/test_dataset_algebra.py
Due: check-ast, ruff, black

Add options for treating NaNs at beginning and end of results.
  src/ssb_timeseries/dataset.py
  tests/test_dataset_algebra.py
Due: check-ast, ruff, black

Cleanup docs and comments.
  src/ssb_timeseries/dataset.py
Due: check-ast, ruff, black

Bump version to 0.4.2.
  pyproject.toml
Due: check-toml

Poetry add pandas- stubs + update.
  poetry.lock
  pyproject.toml
Due: check-toml

Add cross-references for tagging functions.
  docs/conf.py
  docs/reference/index.rst
  docs/ssb_static/ssb.css
  poetry.lock
  src/ssb_timeseries/dataset.py
  src/ssb_timeseries/sample_data.py
  tests/conftest.py
  tests/test_meta_tag_search_and_calculation.py
Due: check-ast, ruff, black

Correct reference to replace_tags
  docs/conf.py
Due: check-ast, ruff, black

Fix indentation.
  src/ssb_timeseries/dataset.py
Due: check-ast, ruff, black

Prepare testing custom icons for admonitions.
  docs/ssb_static/ssb.css
Due: none

Improve test coverage sample_data.py.
  src/ssb_timeseries/sample_data.py
  tests/test_sample_data.py
Due: check-ast, ruff, black

Improve test coverage sample_data.py.
  tests/test_sample_data.py
Due: check-ast, ruff, black

Remove commented out code.
  src/ssb_timeseries/dataset.py
Due: check-ast, ruff, black

Fix typos.
  src/ssb_timeseries/dataset.py
Due: check-ast, ruff, black

Add SSB logos (dark/light mode)
  docs/conf.py
  docs/ssb_static/SSB_logo_black.svg
  docs/ssb_static/SSB_logo_white.svg
Due: check-ast, ruff, black

Add SSB light colours.
  docs/conf.py
Due: check-ast, ruff, black

Add SSB dark colours.
  docs/conf.py
  docs/ssb_static/ssb.css
Due: check-ast, ruff, black

Adjust SSB light colours.
  docs/conf.py
Due: check-ast, ruff, black

Update project template.
  .cruft.json
  .github/workflows/tests.yml
  noxfile.py
  pyproject.toml
  sonar-project.properties
  src/ssb_timeseries/config.py
  src/ssb_timeseries/dataset.py
  src/ssb_timeseries/dates.py
  src/ssb_timeseries/io.py
  src/ssb_timeseries/logging.py
  src/ssb_timeseries/meta.py
  src/ssb_timeseries/properties.py
Due: check-yaml, check-json, check-toml, check-ast, ruff, black

Set Sonar python version to 3.10.
  sonar-project.properties
Due: none

Set Sonar python version to 3.12.
  sonar-project.properties
Due: none

Revert Sonar python version to 3.11.
  sonar-project.properties
Due: none

Edit tests.yaml.
  .github/workflows/tests.yml
  poetry.lock
Due: check-yaml

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-ast: any of: \.py$
  ruff: any of: \.py$, \.ipynb$
  black: any of: \.py$, \.ipynb$
