Repository statisticsnorway/ssb-timeseries: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-json, check-toml, check-ast, ruff, black

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
repos:
  - repo: local
    hooks:
      # General file checkers
      - id: check-added-large-files
        name: Check added large files
        entry: check-added-large-files
        language: system
      - id: check-merge-conflict
        name: Check for merge conflict strings
        entry: check-merge-conflict
        language: system
      - id: check-case-conflict
        name: Check for problematic file names
        entry: check-case-conflict
        language: system

      # General text checkers
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: mixed-line-ending
        name: Mixed Line Ending
        entry: mixed-line-ending
        language: system
        types: [text]
        stages: [commit, push, manual]

      # Serialization format checkers
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: check-json
        name: Check JSON
        entry: check-json
        language: system
        types: [json]
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]

      # Python tools
      - id: check-ast
        name: Check Python syntax
        entry: check-ast
        language: system
        types: [python]
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
        stages: [manual]
      - id: ruff
        name: ruff
        entry: ruff check --fix --exit-non-zero-on-fix
        language: system
        types_or: [python, jupyter]
        require_serial: true
      - id: black
        name: black
        entry: black
        language: system
        types_or: [python, jupyter]
        require_serial: true

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    - id: check-added-large-files
      name: Check for added large files
    - id: check-merge-conflict
      name: Check for merge conflict strings
    - id: check-case-conflict
      name: Check for problematic file names
    - id: end-of-file-fixer
      name: Fix End of Files
      types: [text]
    - id: trailing-whitespace
      name: Trim Trailing Whitespace
      types: [text]
    - id: mixed-line-ending
      name: Mixed Line Ending
      types: [text]
    - id: check-yaml
      name: Check Yaml
      types: [yaml]
    - id: check-json
      name: Check JSON
      types: [json]
    - id: check-toml
      name: Check Toml
      types: [toml]
    - id: check-ast
      name: Check Python syntax
      types: [python]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.7.4
    hooks:
      - id: ruff
        args: [ --fix ]

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        require_serial: true
        types_or: [cython, pyi, python]
        args: [--treat-comment-as-code, "# %%"]

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black

clean up configs - but not quite there yet (conftest.py failing)
  poetry.lock
  pyproject.toml
  src/ssb_timeseries/config.py
  src/ssb_timeseries/fs.py
  tests/conftest.py
  tests/test_config.py
Due: check-toml, check-ast, ruff, black

more experiments with precommit-hooks
  .pre-commit-config.yaml
Due: check-yaml

clean up configs - slightly closer
  .pre-commit-config.yaml
  src/ssb_timeseries/fs.py
  tests/conftest.py
Due: check-yaml, check-ast, ruff, black

more precommit - keep getting told to migrate pre-commit configs
  .pre-commit-config.yaml
Due: check-yaml

clean up configs - done?
  tests/conftest.py
Due: check-ast, ruff, black

Another attempt to workaround darglint errors.
  src/ssb_timeseries/config.py
Due: check-ast, ruff, black

Fix/workaround darglint errors.
  .darglint
  pyproject.toml
  src/ssb_timeseries/config.py
  src/ssb_timeseries/fs.py
Due: check-toml, check-ast, ruff, black

Fix const GCS_TEST.
  src/ssb_timeseries/config.py
Due: check-ast, ruff, black

Update documentation.
  src/ssb_timeseries/__init__.py
  src/ssb_timeseries/config.py
Due: check-ast, ruff, black

Bump version from 0.3.0 to 0.3.1
  pyproject.toml
Due: check-toml

Poetry update.
  poetry.lock
Due: none

Fixed RUF022 error appearing out of nowhere.
  src/ssb_timeseries/__init__.py
Due: check-ast, ruff, black

Create default config if no config file can be found.
  src/ssb_timeseries/config.py
Due: check-ast, ruff, black

FIx bug in config saving.
  src/ssb_timeseries/config.py
  tests/test_config.py
Due: check-ast, ruff, black

Remove dependencies and print statements added when debugging configs.
  poetry.lock
  pyproject.toml
  src/ssb_timeseries/config.py
Due: check-toml, check-ast, ruff, black

Rename GCS constants. Fix bug in config docstring example.
  src/ssb_timeseries/config.py
Due: check-ast, ruff, black

Add Dapla presets.
  src/ssb_timeseries/config.py
Due: check-ast, ruff, black

Resolve docs build dependency error
  poetry.lock
  pyproject.toml
Due: check-toml

Poetry update + move sphinx-*button extensions out of dev group in pyproject.toml
  poetry.lock
  pyproject.toml
Due: check-toml

Config sphinx copybutton to ommit prompt an line numbers.
  docs/conf.py
Due: check-ast, ruff, black

Improve test coverage for config.py.
  src/ssb_timeseries/config.py
  tests/test_config.py
Due: check-ast, ruff, black

Remove superfluous env var workaround.
  src/ssb_timeseries/config.py
Due: check-ast, ruff, black

Clean up presets. Improve tests.
  src/ssb_timeseries/config.py
  tests/test_config.py
Due: check-ast, ruff, black

Add config schema validation. Refactor and improve tests.
  src/ssb_timeseries/config.py
  src/ssb_timeseries/fs.py
  tests/conftest.py
  tests/test_config.py
  tests/test_dataset_algebra.py
Due: check-ast, ruff, black

Update test cases to use configuration improvements.
  src/ssb_timeseries/config.py
  src/ssb_timeseries/dataset.py
  src/ssb_timeseries/io.py
  tests/conftest.py
  tests/test_config.py
  tests/test_io.py
Due: check-ast, ruff, black

Update docstrings.
  src/ssb_timeseries/config.py
Due: check-ast, ruff, black

Update logging to use Config.active().
  src/ssb_timeseries/logging.py
Due: check-ast, ruff, black

Touch log file in config.py.
  src/ssb_timeseries/config.py
Due: check-ast, ruff, black

Remove failing docstring example.
  src/ssb_timeseries/config.py
Due: check-ast, ruff, black

Remove documented out code.
  src/ssb_timeseries/config.py
  src/ssb_timeseries/io.py
Due: check-ast, ruff, black

Bump version to 0.3.2 (patch) + Poetry upgrade.
  poetry.lock
  pyproject.toml
Due: check-toml

Change python version from 3.12 to 3.10 for coverage check.
  .github/workflows/tests.yml
Due: check-yaml

ARk-606: Require lists for attributes and hierarchies for Dataset.aggregate. Add useful test hiarchies in sample_metadata.py. Accept data dict in Taxonomy.__init__
  pythonpath.sh
  src/ssb_timeseries/dataset.py
  src/ssb_timeseries/meta.py
  src/ssb_timeseries/sample_metadata.py
  tests/test_meta_tag_search_and_calculation.py
  tests/test_meta_taxonomy.py
Due: check-ast, ruff, black

Fix ruff and darglint errors.
  pyproject.toml
  src/ssb_timeseries/dataset.py
  src/ssb_timeseries/sample_metadata.py
Due: check-toml, check-ast, ruff, black

Fix mypy errors.
  src/ssb_timeseries/sample_metadata.py
Due: check-ast, ruff, black

keep stages in .pre-commit-config.yaml + sonarcloud-github-action down from 4.0.0 to 3.1.0
  .cruft.json
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/workflows/constraints.txt
  .github/workflows/docs.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: check-yaml, check-json, check-toml

Fix error in docstring.
  src/ssb_timeseries/dataset.py
Due: check-ast, ruff, black

merge constraints.txt
  .github/workflows/constraints.txt
Due: none
