Repository statisticsnorway/ssb-timeseries: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-json, check-toml, check-ast, ruff, black

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

check-json:
  name: Check JSON
  entry: check-json
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-ast:
  name: Check Python syntax
  entry: check-ast
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --exit-non-zero-on-fix
  language: system
  require_serial: true

black:
  name: black
  entry: black
  language: system
  require_serial: true

Add linting to noxfile. Change GitHub workflows to do linting instead of pre-commit.
  .github/workflows/tests.yml
  noxfile.py
Due: check-yaml, check-ast, ruff, black

Add tzdata dependency to resolve tests failing on Windows.
  poetry.lock
  pyproject.toml
Due: check-toml

Add tzdata dependency to noxfile tests block.
  noxfile.py
Due: check-ast, ruff, black

Add +SETUP directive to resolve failing xdoctest.
  src/ssb_timeseries/dates.py
Due: check-ast, ruff, black

Add --xdoctest to pre-commit pytest block. Add --style=google to nox xdoctest session (enable directives +SETUP and +REQUIRES).
  .pre-commit-config.yaml
  noxfile.py
  src/ssb_timeseries/dates.py
Due: check-yaml, check-ast, ruff, black

Cleanup.
  .pre-commit-config.yaml
  src/ssb_timeseries/config.py
Due: check-yaml, check-ast, ruff, black

Workaround for timezone database not founmd on Windows.
  noxfile.py
  pyproject.toml
Due: check-toml, check-ast, ruff, black

Remove unused ignores.
  src/ssb_timeseries/config.py
  src/ssb_timeseries/dataset.py
  src/ssb_timeseries/fs.py
Due: check-ast, ruff, black

Fix decompression/extraction of downloaded timezone database (Windows only).
  noxfile.py
Due: check-ast, ruff, black

Filter (ignore) Pillow 13 warning of deprecated 'mode' parameter.
  pyproject.toml
Due: check-toml

Download the windowsZones.xml mapping file
  noxfile.py
Due: check-ast, ruff, black

Another go at filtering Pillow 13 warning of deprecated 'mode' parameter.
  pyproject.toml
Due: check-toml

Remove logger.handlers before clearing --> make ResourceWarning go away?
  src/ssb_timeseries/logging.py
Due: check-ast, ruff, black

Force ignore with pytest -W for windows nox session.
  noxfile.py
  src/ssb_timeseries/logging.py
Due: check-ast, ruff, black

Fix route cause of Pillow DeprecationWarning.
  pyproject.toml
  tests/test_dataset_plotting.py
Due: check-toml, check-ast, ruff, black

Cleanup.
  .pre-commit-config.yaml
  docs/conf.py
  src/ssb_timeseries/catalog.py
  src/ssb_timeseries/config.py
  src/ssb_timeseries/dataframes.py
  src/ssb_timeseries/dataset.py
  src/ssb_timeseries/dates.py
  src/ssb_timeseries/fs.py
  src/ssb_timeseries/io.py
Due: check-yaml, check-ast, ruff, black

Update tests/test_sample_data.py
  tests/test_sample_data.py
Due: check-ast, ruff, black

Update tests/test_dates.py
  tests/test_dates.py
Due: check-ast, ruff, black

Update src/ssb_timeseries/config.py
  src/ssb_timeseries/config.py
Due: check-ast, ruff, black

Update src/ssb_timeseries/dates.py
  src/ssb_timeseries/dates.py
Due: check-ast, ruff, black

Remove invalid noqa rules
  .github/workflows/docs.yml
  poetry.lock
  pyproject.toml
  src/ssb_timeseries/config.py
  src/ssb_timeseries/dates.py
Due: check-yaml, check-toml, check-ast, ruff, black

Update .gitignore
  .gitignore
Due: none

Update noxfile to install sphinx plugins
  noxfile.py
Due: check-ast, ruff, black

Fix Dataset.any().
  src/ssb_timeseries/dataset.py
Due: check-ast, ruff, black

Add constant for MAX_FILENAE_LENGTH in fs.py
  src/ssb_timeseries/fs.py
Due: check-ast, ruff, black

Add missing constant to make copilot suggestion work
  src/ssb_timeseries/fs.py
Due: check-ast, ruff, black

Replace comprehensions with constructors in meta.py and sample_data.py
  src/ssb_timeseries/meta.py
  src/ssb_timeseries/sample_data.py
Due: check-ast, ruff, black

Bump dependencies.
  .github/release-drafter.yml
  poetry.lock
Due: check-yaml

Replace list comprehensions with constructors (#127)
  src/ssb_timeseries/meta.py
  src/ssb_timeseries/sample_data.py
Due: check-ast, ruff, black

Modify release note template. Bump dependencies. (#128)
  .github/release-drafter.yml
  poetry.lock
Due: check-yaml

Add helper function to initialise empty dataframe and remove Pandas dependency from io.py.
  src/ssb_timeseries/dataframes.py
  src/ssb_timeseries/io.py
Due: check-ast, ruff, black

Confine dataset.py dependency on Pandas to the .plot() and groupby() functions.
  docs/conf.py
  src/ssb_timeseries/dataframes.py
  src/ssb_timeseries/dataset.py
  src/ssb_timeseries/dates.py
  src/ssb_timeseries/fs.py
  src/ssb_timeseries/io.py
  tests/test_dataset_algebra.py
  tests/test_dataset_core.py
Due: check-ast, ruff, black

Remove Pandas dependency from meta.py.
  src/ssb_timeseries/dataframes.py
  src/ssb_timeseries/dataset.py
  src/ssb_timeseries/meta.py
  tests/test_meta_taxonomy.py
Due: check-ast, ruff, black

Add test cases for dataframes.py.
  src/ssb_timeseries/dataframes.py
  tests/test_dataframes.py
Due: check-ast, ruff, black

Make sample_data.py dataframe library agnostic.
  src/ssb_timeseries/sample_data.py
Due: check-ast, ruff, black

Cleanup comments and docstrings.
  src/ssb_timeseries/io.py
  src/ssb_timeseries/meta.py
Due: check-ast, ruff, black

Remove redundant call.
  src/ssb_timeseries/io.py
Due: check-ast, ruff, black

Add more test cases for dataframes.py
  src/ssb_timeseries/dataframes.py
  tests/test_dataframes.py
Due: check-ast, ruff, black

Remove pandas dependencies (#129)
  docs/conf.py
  src/ssb_timeseries/dataframes.py
  src/ssb_timeseries/dataset.py
  src/ssb_timeseries/dates.py
  src/ssb_timeseries/fs.py
  src/ssb_timeseries/io.py
  src/ssb_timeseries/meta.py
  src/ssb_timeseries/sample_data.py
  tests/test_dataframes.py
  tests/test_dataset_algebra.py
  tests/test_dataset_core.py
  tests/test_meta_taxonomy.py
Due: check-ast, ruff, black

Cruft update
  .cookiecutter.json
  .cruft.json
  .github/workflows/labeler.yml
  .github/workflows/tests.yml
  pyproject.toml
Due: check-yaml, check-json, check-toml

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-ast: any of: \.py$
  ruff: any of: \.py$, \.ipynb$
  black: any of: \.py$, \.ipynb$
